
/*__________________________________________________________________________________________PARTE IZQUIERDA REGISTRO________________________________________________________________________________________________________*/

/*PRIMER FORMULARIO*/

.fondoFormulario{
	width: 50%;
	height: 99%;
	margin-top: 0%; 
	margin-left: 0%;
	position: absolute;
}

.fondoImagen{
	width: 100%;
	height: 101.15%;
	margin-top: -1%;
	margin-left: -1%;

}

.FormularioTitulo{
	width: 50%;
	height: 33%;
	margin-top: 30%;
	margin-left: 25%;
	position: absolute;
	align-items: center;
	text-align: center;
	background-color: #F5F5F5;
	border-radius: 15px;
	border: 3px solid rgb(182, 182, 182);
	font-family:'Montserrat';
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	animation: fadein 1s;
	visibility: visible;
}

.FormularioTitulo h1{
	font-size: 200%;
	font-family:'Montserrat';
}

.AtributosRegistro{
	font-size: 200%;
	font-family:'Montserrat';
}

.Inputs{
	margin-top: 3%;
	font-family:'Montserrat';
}

.botonContinuar{
    width: 20%;
    height: 15%;
	margin-top: 3%;
	background-color: #28CE63;
	color: white;
	font-family:'Montserrat';
}

.FormularioTitulo form .Inputs input{
	width: 70%;
	height: 40px;
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 6px;
	-webkit-appearance: none;
	font-size: 150%;
	font-family:'Montserrat';
}


/*SEGUNDO FORMULARIO*/

.FormularioCategorias{
	width: 50%;
	height: 55%;
	margin-top: 16%;
	margin-left: 25%;
	position: absolute;
	align-items: center;
	text-align: center;
	background-color: #F5F5F5;
	border-radius: 15px;
	border: 3px solid rgb(182, 182, 182);
	font-family:'Montserrat';
	visibility: hidden;
}

.botonTerminar{
    width: 20%;
    height: 10%;
	margin-top: 5%;
	background-color: #28CE63;
	color: white;
	font-family:'Montserrat';
}

.FormularioCategorias form .Inputs input{
	width: 70%;
	height: 40px;
	text-align: center;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	-webkit-appearance: none;
	font-size: 150%;
	font-family:'Montserrat';
}

/*__________________________________________________________________________________________PARTE DERECHA REGISTRO________________________________________________________________________________________________________*/

.Pagina{
	width: 50.10%;
	height: 99.95%;
	margin-top: -0.40%; 
	margin-left: 49.5%;
	position: absolute;
	background-image: url("../images/fondoCateg.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.Cabecera{
    width: 80%;
    height: 10%;
	margin-left: 10%;
	margin-top: 2.5%;
	background-color: rgb(219, 219, 219);
	text-align: center;
	align-items: center;
	position: absolute;
	border-radius: 15px;
	font-family:'Montserrat';

	border: 1px solid black; /* Color del borde, debe ser más oscuro que fondo */
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.Columna1{
    width: 20%;
    height: 45%;
	background-color: #F1F1F1F1;
	margin-left: 10%;
	margin-top: 15%;
	position: absolute;
	text-align: center;
	border-radius: 15px;
	font-family:'Montserrat';

	border: 1px solid #b6b6b6b6; /* Color del borde, debe ser más oscuro que fondo */
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.Columna2{
    width: 20%;
    height: 30%;
	background-color: #F1F1F1F1; 
	margin-left: 40%;
	margin-top: 15%;
	position: absolute;
	text-align: center;
	border-radius: 15px;
	font-family:'Montserrat';

	border: 1px solid #b6b6b6b6; /* Color del borde, debe ser más oscuro que fondo */
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.Columna3{
    width: 20%;
    height: 15%;
	background-color: #F1F1F1F1;
	margin-left: 70%;
	margin-top: 15%;
	position: absolute;
	text-align: center;
	border-radius: 15px;
	font-family:'Montserrat';

	border: 1px solid #b6b6b6b6; /* Color del borde, debe ser más oscuro que fondo */
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.ventana1{
	width: 80%;
    height: 22%;
	background-color: #F5F5F5F5;
	border-radius: 15px;
	border-color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	margin-top: 10%;
	margin-left: 10%;
}

.ventana2{
	width: 80%;
    height: 27%;
	background-color: #F5F5F5F5;
	border-radius: 15px;
	border-color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	margin-top: 10%;
	margin-left: 10%;
}

.ventana3{
	width: 80%;
	height: 35%;
	background-color: #F5F5F5F5;
	border-radius: 15px;
	border-color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	margin-top: 10%;
	margin-left: 10%;
}

.lapis{
	width: 65%;
	height: 25%;
	margin-top: 75%;
	margin-left: 35%;
	position: absolute;
}

.circuloVerde{
	width: 3%;
	height: 3%;
	position: absolute;
	margin-top: 67%;
	margin-left: 46.5%;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	animation: fadein 1s;
}

.circuloGris{
	width: 3%;
	height: 3%;
	position: absolute;
	margin-top: 67%;
	margin-left: 51.5%;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	animation: fadein 1s;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}