
body {
    /*flex es para tamaño dinámico, para rellenar huecos, importante para hacer zoom*/
    display: flex;
    flex-flow: column;
    word-wrap: break-word;
}

nav{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    background-color: rgb(91, 116, 199);


}

.title{
    box-sizing: border-box;
    float:left;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-left: 3%;
    font-size: 350%;
    background-color: yellow;
}

.image{
    top: 2%;
    float:right;
    margin-right: 3%;
    height: 80px;
    width: 80px;
    background-image: url(../images/carmen.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section{
    height: 50vh;
    width: 50vw;
    bottom: 0;

    overflow: hidden;
    display: flex;
    flex-flow: column;
    background-color: red;

}

.background{
    float:right;
    bottom: 0%;
    left: 0%;
    width: 80%;
    height: inherit;
    background-image: url(../images/sol.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lateral_menu{
    bottom: 0%;
    left: 0%;
    width: 20%;
    height: inherit;
    float:left;
    background-color: rgb(197, 209, 248);
}
.modal-contenido1{
  visibility: hidden;
  position: relative;
  display: none;
  border: 7px solid yellow;
  background-color:white;
  width:50%;
  height:70%;
  margin-top: 4%;
  padding: 10px 20px;
  margin-left: 25%;
  margin-bottom: 20%;
  z-index: 99; /*prioridad, se coloca encima del resto, se supone*/
  overflow: auto;/*without scroll bar*/
}
.modal-contenido2{
  display: none;
  visibility: hidden;
  position: relative;
  border: 7px solid red;
  background-color:white;
  width:40%;
  height:60%;
  margin-left: 25%;
  padding: 10px 20px;
  margin-top:10%;
  margin-bottom: 10%;
  z-index: 99; /*prioridad, se coloca encima del resto, se supone*/
  overflow: auto;/*without scroll bar*/
}
.modal_oscuro{
  top: 0;
  left: 0;
  visibility: hidden;
  display:none;
  background-color: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  height: 100%;
}
#user{
  background-color: lightblue;
}
#password{
  background-color: lightblue;
}
#guardar{
  height: 20%;
  width: 20%;
  padding:1rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 15%;
}
#borrar{
  height: 20%;
  width:20%;
  padding:1rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 15%;
}
#login{
  height: 20%;
  width: 20%;
  display: inline-block;
  padding:1rem;
  text-align: center;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  margin-top: 1%;
  margin-left: 35%;
  color: black;
}
#correoInicioSesion{
  background-color: lightblue;
}
#contraseñaInicioSesion{
  background-color: lightblue;
}
.cruz{ /*cruz roja de los divs*/
  visibility: hidden;
  height: 5%;
  width: 5%;
  float:left;
  padding: 3%;
}

.cruz img{
  width: 30px;
  height: 30px;
  float: left;
}
.close{

  height: 5%;
  width: 5%;
  margin-bottom:5%;

}
.close img{
  width: 30px;
  height: 30px;
  float: left;
}
