body{
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-image: none;
    background-size: 100% 100%;
}

nav{
    padding: 1%;
    width: 96vw;
    height: 10vh;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    box-shadow: 0px 1px  #888;

}

.web_title{
    margin-top: 2%;
    align-self: center;
    padding: 1%;
    display: inline-block;
    min-width: 160px;
    min-height: 90px;
    background-image: url("../images/fueraLapis.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;
   
}

.user_img{
    margin-left: 2%;
    min-width: 65px;
    min-height: 50px;
    background-image: url("../images/imagenUsuarioPagina.png");
    background-size: 100% 100%;
}

.user_name{
    font-size: 150%;
    flex-shrink:0; 
    padding:1%;
    margin-bottom: 2%;
    margin-right: 1%;
    display: inline-block;
    overflow: auto;
}

.tools{
   
    flex: 1 0 auto;
    margin-left: 5%;
    margin-top: 1%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    border-radius: 5%;
    border:1px solid black;
    font-size: 150%;
    flex-shrink:0;  /*evita que haya varias lineas en el flex-item*/
    margin:1%;
    padding: 1%;
}

.link a{
    text-decoration: none;
    color: black;
}


  
.dropdown-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    display: none;
    box-sizing: content-box;
    z-index: 1;
}

.dropdown-content a {
    background-color: white;
    color: black;
    border:1px solid black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover{
    border-radius: 5%;
    background-color: green;
    color: blanchedalmond;
}

section{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.table_title{
   /* flex-shrink:0;  /*evita que haya varias lineas en el flex-item*/
    margin:1%;
    padding: 1%;
    text-align: center;
    font-size: 150%;
   /* box-sizing: content-box;*/
}

.table_title input{
    width: 80%;
    text-align: center;
}

.lists{
    align-content: flex-start;
    padding: 1%;
    min-width: 250px;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: scroll;
    
}

.list{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1%;;
    padding:1%;
    box-sizing: content-box;
    justify-items: stretch;
    background-color: grey;
    
}

.list_title{
    overflow: hidden;
    border-radius: 10%;
    font-size: 150%;
    text-align: center;
    margin-bottom:5%;
}
.list_title input {
    text-align: center;
}

.evento-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10%;
    margin:auto;
    min-width: 250px;
    min-height: 150px;
    margin-bottom:5%;
    background-color: rgb(173, 173, 173);
}

.event_title{
    border-radius: 10%;
    text-align: center;
}
.event_title input{
    max-width: 80%;
    border-radius: 10%;
    text-align: center;
}

.description input{
    align-content: stretch;
    min-height: 150px;
    min-width: 250px;
    word-break: break-all;
}

.cruz{ /*cruz roja de los divs*/
    height: 1rem;
    width: 1rem;
    margin: 2%;
    border-radius: 10%;
    float:right;
    background-image: url("../images/cruz.jpg");
    background-size: 100% 100%;
  }

  

.add_event{
    border-radius: 10%;
    background-image: url("../images/anadir.jpeg");
    background-size: cover;
    margin: auto; /*al centro*/
    height: 75px;
    width: 75px;
}

footer{
    align-items: center;
    margin-top: 1%;
    padding: 1%;
    box-sizing: content-box;
    background-size: 100% 100%;
}

#redist{
    margin: auto;
    width: 300px;
    height: 150px;
    background-image: url("../images/fueraLapis.png");
    background-size: 100% 100%;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 97vw;
    margin-bottom: 2%;
    /*align-items: center;*/
}

#social div{
    margin:2%;
    align-self: center;
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    background-color: blue;
}

#insta{
    background-image: url("../images/insta.jpg");
}

#face{
    background-image: url("../images/facebook.png");
}
#twitter{
    background-image: url("../images/twitter.jpeg");
}